<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	 <resultMap type="mvo" id="mMap">
	 	<id column="ID" property="id"/>
	 	<result column="PASSWD" property="passwd"/>
	 	<result column="NAME" property="name"/>
	 	<result column="EMAIL" property="email"/>
	 </resultMap>
  
	  <insert id="insertId" parameterType="mvo">
	 	 insert into test_memeber values (#{id},#{passwd},#{name},#{email})
	  
	  
	  </insert>
	  
	  <update id="updateId" parameterType="mvo">
	   update test_member set 
	   					  PASSWD=#{passwd}
	 				     ,EMAIL=#{email} 
	 	       where ID = #{id}
	  
	  </update>
	  
	  
	  <delete id="deleteId" parameterType="String">
	  	delete from test_member where ID=#{id}
	  
	  </delete>
	  
	  <select id="selectOneId"  parameterType="String" resultType="mvo">
	 <!-- <select id="selectOneId"  parameterType="String" resultMap="mMap"> -->
	  	select * from test_member where ID=#{id}
	  </select>
	  
	    <select id="selectListId" resultType="mvo">
		select * from test_member 
	  </select>
		  
</mapper>
